body{
    background: #eaeef6;
    background-image: url("../../images/common/background.png");
    background-position: center 19%;
    background-repeat: no-repeat;
}
.form-horizontal{
    background: #00c1de;
    border-radius: 5px;
}

.form-horizontal .form-title{
    color: #fff;
    text-align: center;
    font-size: 22px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}
.form-horizontal .form-horizontal{
    padding: 10px 55px;
    background: #ffffff;
    border-radius: 0px;
}

.form-horizontal .form-group label{
    padding-left: 0px;
    color: #666666;
}
#btnSubmit{
    background:#00c1de;
    opacity: 0.8;
    color: #ffffff;
}

.form-horizontal .checkbox{
    margin-left: -15px;
}

label {font-size:12px;cursor:pointer;}
label i {
    font-size:12px;
    font-style:normal;
    display:inline-block;
    width:12px;
    height:12px;
    text-align:center;
    line-height:12px;
    color:#fff;
    vertical-align:middle;
    margin:-2px 2px 1px 0px;
    border:#00c1de 1px solid;
}
input[type="checkbox"],input[type="radio"] {display:none;}
input[type="radio"] + i {border-radius:7px;}
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#00c1de;}
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#ccc;}
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#ccc;}

@media (max-width: 1000px) {
    .main-container{
        margin-top: 120px!important;
    }
}